@font-face {
  font-family: Flow;
  src: url(/assets/Flow.otf);
}

#note {
  font-family: cursive;
  font-size: 35px;
  font-weight: bold;
  color: yellow;
  letter-spacing: 5px;
  position: absolute;
  top: 2px;
  left: 500px;
}

#backg {
  /*background-image: url('http://farm7.staticflickr.com/6224/6259299844_53a89114c9_o.jpg');*/
  background-image: url('http://dingyue.nosdn.127.net/RgSSKqAeVgkjKmhc5h=dIgiedKqx6D34P2hKBrT9H8SuW1474191711912compressflag.jpg');
    background-size: 100%;
  }

  #text {
    position: absolute;
    left: 125px;
    top: 1px;
    font-size: 30px;
    font-family: Flow;
    color: white;
  }

  #header {
    height: 200px;
    width: 100%;
  }

  #continent {
    font-family: Flow;
    font-size: 15px;
    width: 200px;
    height: 35px;
    position: absolute;
    left: 125px;
    top: 65px;
  }

  #country {
    font-family: Flow;
    font-size: 15px;
    width: 200px;
    height: 35px;
    position: absolute;
    left: 375px;
    top: 65px;
  }

  #city {
    font-family: Flow;
    font-size: 15px;
    width: 200px;
    height: 35px;
    position: absolute;
    left: 625px;
    top: 65px;
  }

  #addToFavor {
    height: 35px;
    position: absolute;
    left: 1025px;
    top: 85px;
    font-size: 15px;
    font-family: Flow;
  }

  #removeFromFavor {
    height: 35px;
    width: 200px;
    position: absolute;
    left: 1000px;
    top: 85px;
    font-size: 15px;
    font-family: Flow;
  }

  #main {
    width: 1100px;
    height: 200px;
    position: absolute;
    left: 115px;
    top: 325px;
  }

  #favor {
    font-size: 15px;
    width: 200px;
    height: 35px;
    position: absolute;
    left: 1000px;
    top: 30px;
    font-family: Flow;
    opacity:0;
  }

  #test {
    position:absolute;
    top: 160px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Flow;
    font-style: italic;
    font-size: 16px;
    color: white;
    /*color: #FBEDB5;*/
}
